

<nav class="global-nav">
  <div class="nav-div">
    <ul class="nav-list">
      {{#if isAuthenticated}}
      <li>{{#link-to "change-password"}}Change Password{{/link-to}}</li>
      <li><a href="#" {{action "signOut"}}>Sign Out</a></li>
      {{else}}
      <li>{{#link-to "sign-up"}}Sign Up{{/link-to}}</li>
      <li>{{#link-to "sign-in"}}Sign In{{/link-to}}</li>
      {{/if}}
    </ul>
  </div>
</nav>

<h1 id="global-header"> Trader-Aid </h1>

<div class="user-auth-box col-md-8 col-md-offset-2">
  {{outlet}}
</div>
{{!-- {{#if isAuthenticated}}
  <div class="main-page-box col-md-8 col-md-offset-2">
    {{app-window}}
  </div>
{{else}}
  {{action signInView}}
{{/if}} --}}
